<div class="row">
  <div class="col-md-6 col-md-push-3">
      <form name="form" #createShowForm="ngForm" (ngSubmit)="onShowCreate()">
          <div class="form-group">
              <label for="exampleMovieInput1">Movie title</label>
              <br/>
              <select (change)="selectChangeHandler($event)" ng-options="option.value as option.name for option in typeOptions"> 
                <option style="display:none" value="">Select a movie</option>
                <option *ngFor="let val of movienames">
                  {{val}}
                </option>
              </select>
          </div>
          <div class="form-group">
            <label for="exampleInputDate">Date</label>
            <input type="text" class="form-control" id="exampleInputDate" placeholder="Date" [(ngModel)]="model.date" #date="ngModel" name="date" required>
            <div *ngIf="date.invalid && (date.dirty || date.touched)"
              class="alert alert-danger">
            <div *ngIf="date.errors.required">
              Date is required.
            </div>
          </div>
          </div>
          <div class="form-group">
            <label for="exampleInputRoom">Room</label>
            <br/>
            <select (change)="selectChangeHandler2($event)" ng-options="option.value as option.name for option in typeOptions"> 
                <option style="display:none" value="">Select a room</option>
                <option *ngFor="let val of roomnames">
                  {{val}}
                </option>
              </select>
          </div>
          <button class="btn btn-primary">Submit</button>
        </form>
  </div>
</div>
