<span
  routerLinkActive="active"
  class="list-group-item clearfix">
    <button class="btn btn-danger" (click)="onDeleteMovie()">Delete movie</button>
    <button class="btn btn-primary" (click)="onEditMovie()">Edit movie</button>
    <h4 class="list-group-item-heading">{{ movie.title }}</h4>
    <p class="bold">Description: </p>
    <p class="list-group-item-text">{{ movie.description }}</p>
    <p class="bold">Director: </p>
    <p class="list-group-item-text">{{ movie.director }}</p>
    <p class="bold">Writers: </p>
    <p class="list-group-item-text">{{ movie.writers }}</p> 
    <p class="bold">Imdb score: </p>
    <p class="list-group-item-text">{{ movie.imdbScore }}</p>
    <p class="bold">Movie length: </p>
    <p class="list-group-item-text">{{ movie.length }} minutes</p>
</span>
