<div class="row">
    <div class="col-md-6 col-md-push-3">
        <form name="form" #editMovieForm="ngForm" (ngSubmit)="onMovieEdit()">
            <div class="form-group">
              <label for="exampleInputTitle1">Movie title</label>
              <input type="text" class="form-control" id="exampleInputTitle1" placeholder="Movie Title" [(ngModel)]="model.title" #title="ngModel" name="title" required minlength="4">
              <div *ngIf="title.invalid && (title.dirty || title.touched)"
              class="alert alert-danger">
            <div *ngIf="title.errors.required">
              Movie title is required.
            </div>
            <div *ngIf="title.errors.minlength">
              Movie title must be at least 4 characters long.
            </div>
          </div>
            </div>
            <div class="form-group">
              <label for="exampleInputDescription">Description</label>
              <input type="text" class="form-control" id="exampleInputDescription" placeholder="Description" [(ngModel)]="model.description" #description="ngModel" name="description" required minlength="4">
              <div *ngIf="description.invalid && (description.dirty || description.touched)"
              class="alert alert-danger">
            <div *ngIf="description.errors.required">
                Description is required.
            </div>
            <div *ngIf="description.errors.minlength">
                Description must be at least 4 characters long.
            </div>
          </div>
            </div>
            <div class="form-group">
              <label for="exampleInputDirector">Director</label>
              <input type="text" class="form-control" id="exampleInputDirector" placeholder="Director" [(ngModel)]="model.director" #director="ngModel" name="director" required minlength="4">
              <div *ngIf="director.invalid && (director.dirty || director.touched)"
              class="alert alert-danger">
            <div *ngIf="director.errors.required">
                Director is required.
            </div>
            <div *ngIf="director.errors.minlength">
                Director must be at least 4 characters long.
            </div>
          </div>
            </div>
            <div class="form-group">
                <label for="exampleInputWriters">Writers</label>
                <input type="text" class="form-control" id="exampleInputWriters" placeholder="Writers" [(ngModel)]="model.writers" #writers="ngModel" name="writers" required minlength="4">
                <div *ngIf="writers.invalid && (writers.dirty || writers.touched)"
              class="alert alert-danger">
            <div *ngIf="writers.errors.required">
                Writers are required.
            </div>
            <div *ngIf="writers.errors.minlength">
                Writers must be at least 4 characters long.
            </div>
          </div>
            </div>
            <div class="form-group">
                <label for="exampleInputImdbScore">Imdb score</label>
                <input type="number" class="form-control" id="exampleInputImdbScore" placeholder="Imdb score" [(ngModel)]="model.imdbScore" #imdbScore="ngModel" name="imdbScore" required>
                <div *ngIf="imdbScore.invalid && (imdbScore.dirty || imdbScore.touched)"
              class="alert alert-danger">
            <div *ngIf="imdbScore.errors.required">
                Imdb Score is required.
            </div>
          </div>
            </div>
            <div class="form-group">
                <label for="exampleInputLength">Length</label>
                <input type="number" class="form-control" id="exampleInputLength" placeholder="Length" [(ngModel)]="model.length" #length="ngModel" name="length" required>
                <div *ngIf="length.invalid && (length.dirty || length.touched)"
              class="alert alert-danger">
            <div *ngIf="length.errors.required">
                Length is required.
            </div>
          </div>
            </div>
            <button class="btn btn-primary">Submit</button>
          </form>
    </div>
  </div>
