<div class="row">
    <div class="col-md-6 col-md-push-3">
        <form name="form" #createMovieForm="ngForm" (ngSubmit)="onMovieEdit()">
            <div class="form-group">
              <label for="exampleInputTitle1">Movie title</label>
              <input type="text" class="form-control" id="exampleInputTitle1" placeholder="Movie title" [(ngModel)]="model.title" #title="ngModel" name="title">
            </div>
            <div class="form-group">
              <label for="exampleInputDescription">Description</label>
              <input type="text" class="form-control" id="exampleInputDescription" placeholder="Description" [(ngModel)]="model.description" #description="ngModel" name="description">
            </div>
            <div class="form-group">
              <label for="exampleInputDirector">Director</label>
              <input type="text" class="form-control" id="exampleInputDirector" placeholder="Director" [(ngModel)]="model.director" #director="ngModel" name="director">
            </div>
            <div class="form-group">
                <label for="exampleInputWriters">Writers</label>
                <input type="text" class="form-control" id="exampleInputWriters" placeholder="Writers" [(ngModel)]="model.writers" #writers="ngModel" name="writers">
            </div>
            <div class="form-group">
                <label for="exampleInputImdbScore">Imdb score</label>
                <input type="number" class="form-control" id="exampleInputImdbScore" placeholder="Imdb score" [(ngModel)]="model.imdbScore" #imdbScore="ngModel" name="imdbScore">
            </div>
            <div class="form-group">
                <label for="exampleInputLength">Length</label>
                <input type="number" class="form-control" id="exampleInputLength" placeholder="Length" [(ngModel)]="model.length" #length="ngModel" name="length">
            </div>
            <button class="btn btn-primary">Submit</button>
          </form>
    </div>
  </div>
