<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a routerLink="" class="navbar-brand">Home</a>
    </div>
    <div class="collapse navbar-collapse">
      <ul class="nav navbar-nav">
        <li routerLinkActive="active"><a routerLink="movies">Movies</a></li>
        <li routerLinkActive="active"><a routerLink="rooms">Rooms</a></li>
        <li routerLinkActive="active"><a routerLink="shows">Shows</a></li>
      </ul>
    </div>
  </div>
</nav>